/* https://colorhunt.co/palette/258211 */
body {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.3rem;
  font-weight: 900;
}

.parallax-tittle {
  background-color: #85603f;
  background-image: url("../img/logo-liga.png");
  padding: 18% 1%;
  background-repeat: no-repeat;
  background-position: 50% 30px;
  background-attachment: fixed;
  background-size: 50%;
}

/* .parallax-tittle-inne{
  padding: 30% 30%;
} */
.heading-section .subheading {
  display: block;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #999;
}

.scoreboard-dinamic {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  background: #fff;
  border-radius: 4px;
  padding: 2rem 1rem;
}

.scoreboard-dinamic .sport-team {
  display: block;
  width: 100%;
}

.scoreboard-dinamic .sport-team .score-dinamic {
  font-weight: 550;
  font-size: 1.8rem;
}

.scoreboard-dinamic .sport-team .team-name-dinamic {
  font-weight: 700;
  font-size: 16px;
}

.scoreboard-dinamic .sport-team .desc {
  width: calc(100% - 100px);
}

.win-dinamic {
  border-bottom: 5px solid #ffb400;
}

.lost-dinamic {
  color: rgba(0, 0, 0, 0.2);
}

.match-logo-container-dinamic{
  display: flex;
  justify-content: center;
  max-width: 200px;
  max-height: 200px;
}
.match-logo-presentation-dinamic{
  max-width: 100%;
  max-height: 100%;

}
.logo-dinamic {
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
  /* box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09); */
}

.sidebar-box .sidebar-title{
font-size: 1.5rem;
}

.carousel-item {
    padding: 0% 15% 7%;
}

.imgBG-teams {
  background-color: #85603f;
  background-image: url("../img/impe_LegioVSEgipt.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: 100%;
}

@media (max-width: 995px) {
  .imgBG-teams {
      background-size: 170%;
  }
}

.team-logo-container{
  display: flex;
  justify-content: center;
  height:25vh;
  width: 100%;
  max-height: 265px;
}
.team-logo-presentation{
  max-width: 100%;
  max-height: 100%;

}

.background-colored {
  background-color: #9e7540;
}

.rules-text {
  text-align: justify;
}

.rules-img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 500px
}

.rule-list>li {
  margin-bottom: 5px;
}

#tournament, #tournament-teams, #tournament-rules, #footer {
  padding: 7% 15%;
}

/* #tournament-calendar{
      padding: 7% 0%;
} */
