/* https://colorhunt.co/palette/258211 */
body {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.3rem;
  font-weight: 900;
}

.navbar-logo {
    width: auto;
    height: 60px;
}

.scoreboard-dinamic {
  /* width: 100%; */
  border: 1px solid rgba(0, 0, 0, .1);
  background: #fff;
  border-radius: 4px;
  padding: 2rem 1rem;
  margin: 0px 10px;
}

.scoreboard-dinamic .sport-team {
  display: block;
  width: 100%;
}

.scoreboard-dinamic .sport-team .score-dinamic {
  font-weight: 550;
  font-size: 2vw;
}

@media (max-width: 990px) {
  .scoreboard-dinamic .sport-team .score-dinamic {
    font-size: 1.8rem;
  }
}

.scoreboard-dinamic .sport-team .team-name-dinamic {
  font-weight: 700;
  font-size: 16px;
}

.scoreboard-dinamic .sport-team .desc {
  width: calc(100% - 100px);
}

.win-dinamic {
  border-bottom: 5px solid #ffb400;
}

.lost-dinamic {
  color: rgba(0, 0, 0, 0.2);
}

.match-logo-container-dinamic{
  display: flex;
  justify-content: center;
  max-width: 200px;
  max-height: 200px;
}
.match-logo-presentation-dinamic{
  max-width: 100%;
  max-height: 100%;

}
.logo-dinamic {
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
  /* box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09); */
}

.carousel-item {
    padding: 0% 5% 7%;
}

#footer {
  padding: 7% 15%;
}
